@let order = ordersService.selectedOrder;

@if (order) {
    <mat-card appearance="outlined">
        <!-- Header -->
        <mat-card-header>
            <mat-card-title-group>
                <!-- Info -->
                <mat-card-title>Servis 4</mat-card-title>

                <!-- Edit toggle -->
                <mat-slide-toggle
                    matSuffix
                    labelPosition="before"
                    [(ngModel)]="editing">
                    Povoliť úpravy
                </mat-slide-toggle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-divider />

        <!-- Main fields -->
        <mat-card-content>
            <div class="order-fields-container">
                <!-- License plate -->
                <mat-form-field>
                    <mat-label>ŠPZ</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="order.licensePlate" />
                </mat-form-field>

                <!-- Manufacturer -->
                <mat-form-field>
                    <mat-label>Značka</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="order.manufacturer" />
                </mat-form-field>

                <!-- Model -->
                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="order.model" />
                </mat-form-field>

                <!-- Customer -->
                <mat-form-field>
                    <mat-label>Zákazník</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="order.customer" />
                </mat-form-field>

                <!-- VIN -->
                <mat-form-field>
                    <mat-label>VIN</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="order.vin" />
                </mat-form-field>

                <!-- Work started/ended -->
                <mat-form-field>
                    <mat-label>Prevzaté - Odovzdané</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input
                            matStartDate
                            [readonly]="!editing"
                            [(ngModel)]="order.workStarted" />
                        <input
                            matEndDate
                            [readonly]="!editing"
                            [(ngModel)]="order.workEnded" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [disabled]="!editing"
                        [for]="picker" />
                    <mat-date-range-picker #picker />
                </mat-form-field>
            </div>

            <mat-divider />

            <!-- Notes -->
            <mat-form-field style="width: 100%">
                <mat-label>Poznámky</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    [readonly]="!editing"
                    [(ngModel)]="order.notes">
                </textarea>
            </mat-form-field>

            <mat-divider />

            <!-- Add new item button -->
            <button
                mat-raised-button
                color="primary"
                [disabled]="!editing"
                (click)="addNewItem()">
                Pridať položku
            </button>

            <mat-divider />

            <!-- Order items -->
            <section
                class="table-container mat-elevation-z8"
                tabindex="0">
                <table
                    mat-table
                    [dataSource]="order.items">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <!-- Header -->
                        <th
                            *matHeaderCellDef
                            mat-header-cell>
                            Názov
                        </th>
                        <!-- Cell -->
                        <td
                            *matCellDef="let element"
                            mat-cell>
                            <mat-form-field [appearance]="'outline'">
                                <input
                                    matInput
                                    [readonly]="!editing"
                                    [(ngModel)]="element.name" />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <!-- Header -->
                        <th
                            *matHeaderCellDef
                            mat-header-cell>
                            Poznámky
                        </th>
                        <!-- Cell -->
                        <td
                            *matCellDef="let element"
                            mat-cell>
                            <mat-form-field [appearance]="'outline'">
                                <input
                                    matInput
                                    [readonly]="!editing"
                                    [(ngModel)]="element.description" />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <!-- Header -->
                        <th
                            *matHeaderCellDef
                            mat-header-cell>
                            Množstvo
                        </th>
                        <!-- Cell -->
                        <td
                            *matCellDef="let element"
                            mat-cell>
                            <mat-form-field [appearance]="'outline'">
                                <input
                                    matInput
                                    type="number"
                                    [readonly]="!editing"
                                    [(ngModel)]="element.quantity" />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <!-- Header -->
                        <th
                            *matHeaderCellDef
                            mat-header-cell>
                            Cena
                        </th>
                        <!-- Cell -->
                        <td
                            *matCellDef="let element"
                            mat-cell>
                            <mat-form-field [appearance]="'outline'">
                                <input
                                    matInput
                                    type="number"
                                    [readonly]="!editing"
                                    [(ngModel)]="element.price" />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Calculation Column -->
                    <ng-container matColumnDef="calculation">
                        <!-- Header -->
                        <th
                            *matHeaderCellDef
                            mat-header-cell>
                            Spolu
                        </th>
                        <!-- Cell -->
                        <td
                            *matCellDef="let element"
                            mat-cell>
                            <mat-form-field [appearance]="'outline'">
                                <input
                                    matInput
                                    type="number"
                                    [readonly]="true"
                                    [ngModel]="
                                        element.quantity * element.price
                                    " />
                            </mat-form-field>
                        </td>
                        <!-- Footer -->
                        <td
                            *matFooterCellDef
                            mat-footer-cell>
                            {{ orderSum }}
                        </td>
                    </ng-container>

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <!-- Header -->
                        <th
                            *matHeaderCellDef
                            mat-header-cell>
                        </th>
                        <!-- Cell -->
                        <td
                            *matCellDef="let element"
                            mat-cell>
                            <button
                                mat-icon-button
                                [disabled]="!editing"
                                (click)="deleteItem(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    @let displayedColumns =
                        [
                            "name",
                            "description",
                            "quantity",
                            "price",
                            "calculation",
                            "delete",
                        ];

                    <tr
                        *matHeaderRowDef="displayedColumns; sticky: true"
                        mat-header-row></tr>
                    <tr
                        *matRowDef="let row; columns: displayedColumns"
                        mat-row>
                    </tr>
                    <tr
                        *matFooterRowDef="['calculation']"
                        mat-footer-row>
                    </tr>
                </table>
            </section>
        </mat-card-content>
    </mat-card>
}
