mat-divider {
    margin: 1rem 0;
}

.order-fields-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1rem;
}

.table-container {
    min-height: 300px;
    overflow: auto;
}
