@if (ordersService.selectedOrder) {
    <pre>{{ ordersService.selectedOrder | json }}</pre>
    <mat-card appearance="outlined">
        <!-- Header -->
        <mat-card-header>
            <mat-card-title-group>
                <!-- Info -->
                <mat-card-title>Servis 4</mat-card-title>

                <!-- Edit toggle -->
                <mat-slide-toggle
                    matSuffix
                    labelPosition="before"
                    [(ngModel)]="editing">
                    Povoliť úpravy
                </mat-slide-toggle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-divider />

        <!-- Main fields -->
        <mat-card-content>
            <div class="order-fields-container">
                <!-- License plate -->
                <mat-form-field>
                    <mat-label>ŠPZ</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="
                            ordersService.selectedOrder.licensePlate
                        " />
                </mat-form-field>

                <!-- Manufacturer -->
                <mat-form-field>
                    <mat-label>Značka</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="
                            ordersService.selectedOrder.manufacturer
                        " />
                </mat-form-field>

                <!-- Model -->
                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="ordersService.selectedOrder.model" />
                </mat-form-field>

                <!-- Customer -->
                <mat-form-field>
                    <mat-label>Zákazník</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="ordersService.selectedOrder.customer" />
                </mat-form-field>

                <!-- VIN -->
                <mat-form-field>
                    <mat-label>VIN</mat-label>
                    <input
                        matInput
                        [readonly]="!editing"
                        [(ngModel)]="ordersService.selectedOrder.vin" />
                </mat-form-field>

                <!-- Work started/ended -->
                <mat-form-field>
                    <mat-label>Prevzaté - Odovzdané</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input
                            matStartDate
                            [(ngModel)]="
                                ordersService.selectedOrder.workStarted
                            " />
                        <input
                            matEndDate
                            [(ngModel)]="
                                ordersService.selectedOrder.workEnded
                            " />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker" />
                    <mat-date-range-picker #picker />
                </mat-form-field>
            </div>

            <mat-form-field style="width: 100%">
                <mat-label>Poznámky</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    [(ngModel)]="ordersService.selectedOrder.notes">
                </textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
}
