@for (order of ordersService.$orders.value(); track $index) {
    <mat-card
        appearance="outlined"
        (click)="ordersService.selectedOrder = order">
        <mat-card-header>
            <mat-card-title>
                {{ order.manufacturer }} {{ order.model }} -
                {{ order.licensePlate }}
            </mat-card-title>
            <mat-card-subtitle>{{ order.customer }}</mat-card-subtitle>
            <mat-card-subtitle>
                {{ order.workStarted | date }} -
                {{ order.workEnded | date }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content />
    </mat-card>
}
