@use "@angular/material" as mat;

body {
    margin: 0.5rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    mat-card {
        @include mat.elevation-transition();

        &:hover {
            @include mat.elevation(3);
        }
    }
}

// hide input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    @include mat.table-overrides(
        (
            header-headline-color: var(--mat-sys-primary),
            header-headline-weight: bold,
            header-headline-size: 1.25rem,
            row-item-outline-color: #ccc,
        )
    );

    @include mat.form-field-overrides(
        (
            outlined-outline-width: 0,
        )
    );
}
