@use "@angular/material" as mat;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    mat-card {
        @include mat.elevation-transition();

        &:hover {
            @include mat.elevation(3);
        }
    }
}

// hide input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
