<div style="display: flex; gap: 1rem">
    <!-- Search field -->
    <mat-form-field>
        <mat-label>Hľadať</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
            matInput
            type="text"
            placeholder="Search orders"
            [ngModel]="ordersService.$searchQuery()"
            (ngModelChange)="ordersService.$searchQuery.set($event)" />
    </mat-form-field>

    <!-- Items source -->
    <mat-form-field>
        <mat-label>Zdroj</mat-label>
        <input
            matInput
            type="text"
            [ngModel]="ordersService.$folderPath()"
            (ngModelChange)="ordersService.$folderPath.set($event)" />
    </mat-form-field>
</div>
